/**
 * File styles.css.
 * Contains base styles for video container and notification.
 */

.section .activity.videoredirect .contentwithoutlink {
    display: block;
    height: inherit;
}

.section .videoredirect .mod-indent-outer {
    padding-left: 0;
    display: block;
}

.videoredirect .video-container {
    padding: 15px 0;
    position: relative;
}

.videoredirect .video-container.video-vimeo {
    max-width: 400px;
    margin: auto;
}

.videoredirect .video-container.video-vimeo .video-area {
    padding-top: 56.25%;
}

.videoredirect .video-container.video-vimeo iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.videoredirect .notif-next-video {
    position: absolute;
    width: 100%;
    height: calc(100% - 30px);
    left: 0;
    top: 15px;
    visibility: hidden;
    opacity: 0;
    transition: visibility .7s ease, opacity .7s ease;
}

.videoredirect .notif-next-video .author-info {
    position: absolute;
    right: 14px;
    bottom: 10px;
    color: #d0d8da;
    font-size: 14px;
}

.videoredirect .notif-next-video .author-info a {
    color: #fff;
    
}

.videoredirect .notif-next-video.active {
    visibility: visible;
    opacity: 1;
}

.videoredirect .notif-next-video-container {
    position: relative;
    max-width: 400px;
    margin: auto;
    background-color: rgba(32,40,42,.8);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
}

.videoredirect .notif-next-video .options {
    text-align: center;
}

.videoredirect .notif-next-video .button-container {
    padding: 8px 0 20px;
}

.videoredirect .notif-next-video .button {
    color: #fff;
    padding: 8px 12px;
    border: 2px solid #fff;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    transition: background-color .5s ease, color .5s ease;
}

.videoredirect .notif-next-video .button:hover {
    text-decoration: none;
    color: #20282a;
    background-color: #fff;
}

.videoredirect .notif-next-video h5 {
    color: #fff;
    margin-top: 8px;
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s ease, opacity .5s ease;
}

.videoredirect .notif-next-video h5.active {
    visibility: visible;
    opacity: 1;
}

/* Settings for Snap theme. */

body.snap-resource-card li.snap-resource.videoredirect {
    width: 100%;
}
body.snap-resource-card li.snap-resource.snap-resource-long.videoredirect {
  height: unset;
}
body.snap-resource-card li.snap-resource.snap-resource-long.videoredirect .asset-wrapper .snap-asset-content {
  max-height: unset;
}

body.snap-resource-card li.snap-resource.snap-resource-long.videoredirect .asset-wrapper .snap-asset-content:hover {
    overflow-y: hidden;
}

.section li.snap-asset.videoredirect {
    border: none;
}

.section .snap-resource.activity.modtype_videoredirect.videoredirect {
    padding: .5em 0;
    margin: .5em 0;
}

.section li.snap-asset.videoredirect .asset-wrapper {
    padding: 0;
}

body.snap-resource-card li.snap-resource.snap-resource-long.videoredirect .asset-wrapper .snap-asset-content {
    padding-top: .5em;
    padding-right: 0;
}

@media screen and (max-width: 768px) {
    .videoredirect .notif-next-video .button {
        font-size: 1.8vw;
        padding: 1vw 1.5vw;
    }

    .videoredirect .notif-next-video .button-container {
        padding: 1vw 0 2vw;
    }

    .videoredirect .notif-next-video h5 {
        font-size: 2.4vw;
        margin-top: 1.5vw;
    }
}
